main {
  flex-grow: 1;
  display: flex;
}

.content-conteiner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.content-conteiner h1 {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
}
.content-conteiner h1 span {
  font-size: 2rem;
  font-weight: 500;
  transform: translateY(28px);
}

.movie-title {
  font-size: 2.6rem;
  font-style: italic;
  color: #e62721;
  transform: translateY(-18px);
}

.movie-text {
  width: 700px;
  font-size: 1.21rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.button {
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e62721;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 200;
}

.social-conteiner {
  width: 48px;
}

.social-conteiner ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.social-conteiner li {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-conteiner i {
  font-size: 1.5rem;
}

.social-conteiner li:hover {
  background-color: #e62721;
  border-color: #e62721;
  transition: 0.1s;
}
